openapi: 3.0.1
info:
  title: Сервис контроля за стажировками
  version: v1

servers:
  - url: https://api.internship.staziss-tech.ru
    description: Основной сервер
  - url: http://localhost:8080
    description: Локальный сервер

tags:
  - name: logs
    description: Работа с логами стажировок
  - name: tags
    description: Работа с тегами
  - name: profile
    description: Работа с профилем пользователя
  - name: notifications
    description: Работа с уведомлениями
  - name: company
    description: Работа с компаниями

components:
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://auth.staziss-tech.ru/realms/internship/.well-known/openid-configuration

paths:
  /logs/me:
    $ref: './schemas/logs/GetMyLogsApi.yaml'
  /logs/{userId}:
    $ref: './schemas/logs/GetUserLogsApi.yaml'
  /logs:
    $ref: './schemas/logs/CreateLogApi.yaml'
  /logs/{logId}:
    $ref: './schemas/logs/EditLogApi.yaml'
  /logs/{logId}/comments:
    $ref: './schemas/comment/GetCommentsListApi.yaml'
  /logs/{logId}/comment:
    $ref: './schemas/comment/CreateCommentApi.yaml'
  /logs/{logId}/comment/{commentId}:
    $ref: './schemas/comment/UpdateCommentApi.yaml'
  /logs/{logId}/comment/{commentId}/delete:
    $ref: './schemas/comment/DeleteCommentApi.yaml'

  /company/{companyId}:
    $ref: './schemas/company/GetCompanyApi.yaml'
  /company/list:
    $ref: './schemas/company/GetCompaniesListApi.yaml'
  /company:
    $ref: './schemas/company/CreateCompanyApi.yaml'
  /company/{companyId}/position:
    $ref: './schemas/company/CreateCompanyPositionApi.yaml'

  /tags:
    $ref: './schemas/tags/GetTagsApi.yaml'

  /profile/me:
    $ref: './schemas/profile/GetMyProfileApi.yaml'
  /profile/header:
    $ref: './schemas/profile/GetProfileHeaderApi.yaml'

  /notifications/last:
    $ref: './schemas/notifications/GetLastNotificationsApi.yaml'
  /notifications:
    $ref: './schemas/notifications/GetNotificationsApi.yaml'
