openapi: 3.0.1
info:
  title: Сервис контроля за стажировками
  version: v1

servers:
  - url: https://api.internship.staziss-tech.ru
    description: Основной сервер
  - url: http://localhost:8080
    description: Локальный сервер

tags:
  - name: logs
    description: Работа с логами стажировок
  - name: tags
    description: Работа с тегами
  - name: profile
    description: Работа с профилем пользователя
  - name: notifications
    description: Работа с уведомлениями
  - name: company
    description: Работа с компаниями
  - name: meeting
    description: Работа со встречами
  - name: reaction
    description: Работа с реакциями под логами
  - name: debug
    description: Ручки для отладки
  - name: file
    description: Работа с файлами
  - name: statistic
    description: Получение статистики
  - name: students
    description: Студенты

components:
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://auth.staziss-tech.ru/realms/internship/.well-known/openid-configuration

paths:
  /logs/me:
    $ref: './schemas/logs/GetMyLogsApi.yaml'
  /logs/all:
    $ref: './schemas/logs/GetAllLogsApi.yaml'
  /logs/{userId}:
    $ref: './schemas/logs/GetUserLogsApi.yaml'
  /logs:
    $ref: './schemas/logs/CreateLogApi.yaml'
  /logs/{logId}:
    $ref: './schemas/logs/EditLogApi.yaml'
  /logs/{logId}/comments:
    $ref: './schemas/comment/GetCommentsListApi.yaml'
  /logs/{logId}/comment:
    $ref: './schemas/comment/CreateCommentApi.yaml'
  /logs/{logId}/comment/{commentId}:
    $ref: './schemas/comment/UpdateCommentApi.yaml'
  /logs/{logId}/comment/{commentId}/delete:
    $ref: './schemas/comment/DeleteCommentApi.yaml'
  /logs/{logId}/approve:
    $ref: './schemas/logs/ApproveLogApi.yaml'

  /company/{companyId}:
    $ref: './schemas/company/GetCompanyApi.yaml'
  /company/list:
    $ref: './schemas/company/GetCompaniesListApi.yaml'
  /company:
    $ref: './schemas/company/CreateCompanyApi.yaml'
  /company/{companyId}/position:
    $ref: './schemas/company/CreateCompanyPositionApi.yaml'

  /meetings/company/{companyId}:
    $ref: './schemas/meeting/CreateMeetingApi.yaml'
  /meetings/company/{companyId}/nearest:
    $ref: './schemas/meeting/GetNearestMeetingApi.yaml'
  /meetings:
    $ref: './schemas/meeting/GetMeetingsListApi.yaml'
  /buildings:
    $ref: './schemas/meeting/GetBuildingsListApi.yaml'
  /buildings/{buildingId}/audiences:
    $ref: './schemas/meeting/GetAudiencesListApi.yaml'

  /tags:
    $ref: './schemas/tags/GetTagsApi.yaml'
  /hashtags:
    $ref: './schemas/tags/GetHashtagsApi.yaml'

  /profile/me:
    $ref: './schemas/profile/GetMyProfileApi.yaml'
  /profile/header:
    $ref: './schemas/profile/GetProfileHeaderApi.yaml'

  /notifications/last:
    $ref: './schemas/notifications/GetLastNotificationsApi.yaml'
  /notifications:
    $ref: './schemas/notifications/GetNotificationsApi.yaml'

  /reactions/{logId}:
    $ref: './schemas/reactions/GetLogReactionsApi.yaml'
  /reactions/add/{logId}:
    $ref: './schemas/reactions/AddReactionApi.yaml'
  /reactions/delete/{logId}:
    $ref: './schemas/reactions/DeleteReactionApi.yaml'
  /reactions/possible:
    $ref: './schemas/reactions/GetPossibleReactionsApi.yaml'

  /debug/ws/receive/notification:
    $ref: './schemas/debug/ReceiveNotificationApi.yaml'

  /files:
    $ref: './schemas/file/UploadFileApi.yaml'
  /files/{fileId}:
    $ref: './schemas/file/GetFileInfoApi.yaml'
  /files/{fileId}/delete:
    $ref: './schemas/file/DeleteFileApi.yaml'
  /files/{fileId}/download-link:
    $ref: './schemas/file/GetFileLinkApi.yaml'

  /statistic/company/{companyId}:
    $ref: './schemas/statistic/GetFullCompanyStatisticApi.yaml'

  /students/list:
    $ref: './schemas/students/GetStudentsListApi.yaml'
  /students/registration:
    $ref: './schemas/students/PostStudentsRegistrationApi.yaml'
  /students/registration/link:
    $ref: './schemas/students/PostStudentsRegistrationLinkApi.yaml'
  /students/deanery/edit:
    $ref: './schemas/students/PostStudentsDeaneryEditApi.yaml'
  /students/{userId}/move-academic:
    $ref: './schemas/students/PostStudentsMoveAcademicApi.yaml'
  /students/{userId}/remove-academic:
    $ref: './schemas/students/PostStudentsRemoveAcademicApi.yaml'
